[Unit]
Description=Crossbar.io
After=network.target

[Service]
Type=simple
User=pi
Group=pi
StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/home/pi/venv/bin/crossbar start --cbdir=/home/pi/sw/.crossbar
StartLimitInterval=0
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
