.App {
    text-align: center;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.App__header {
  background-color: #222;
  color: white;
  padding: 8px 0 8px 0;
  font-weight: bold;
}


.CurrentUser__signedout {
    padding: 40px 0 180px 0;
    font-size: 60px;
    background-image: url(./rfid.jpg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.CurrentUser {
    display: flex;
}

.CurrentUser__pfpic-wrap {
    width: 80px;
    flex-shrink: 0;
}
.CurrentUser__pfpic {
    max-width: 100%;
}

.CurrentUser__info {
    flex-grow: 1;
    min-width: 0;  /* needed for ellipsis name truncation */
}
.CurrentUser__name {
    font-weight: bold;
    font-size: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.CurrentUser__username {
    color: #666;
}


.CurrentPullups {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}
.CurrentPullups__content {
    flex-grow: 1;
}
.CurrentPullups__done {
    display: flex;
    min-width: 100vw;
}
.CurrentPullups__rawBar {
    width:10px;
    position: absolute;
}
.CurrentPullups__rawBar_IDLE {
    background: red;
}
.CurrentPullups__rawBar_DOWN {
    background: orange;
}
.CurrentPullups__rawBar_UP {
    background: green;
}
.CurrentPullups__done_btn {
    flex-grow: 1;
    margin: 20px;

    height: 64px;
    font-size: 20px;
    border: none;
    padding: 20px 10px;
    background-color: #ce4933;
    color: white;
}

.CurrentPullups {

}

.CurrentPullups__pullups {
    display: block;
    font-size: 144px;
}
.CurrentPullups__set-time {
    display: block;
    font-size: 32px;
}
