.App {
  text-align: center;
}

.App__header {
  background-color: #222;
  color: white;
  padding: 8px 0 8px 0;
  font-weight: bold;
}


.CurrentUser__signedout {
    padding: 40px 0 180px 0;
    font-size: 60px;
    background-image: url(./rfid.jpg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.CurrentUser {
    display: flex;
}

.CurrentUser__pfpic-wrap {
    width: 80px;
    min-width: 80px;
}
.CurrentUser__pfpic {
    max-width: 100%;
}

.CurrentUser__info {
    flex-grow: 1;
    min-width: 0;  /* needed for ellipsis name truncation */
}
.CurrentUser__name {
    font-weight: bold;
    font-size: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.CurrentUser__username {
    color: #666;
}

.CurrentUser__info2 {
}
.CurrentUser__signout {
    width: 50px;
    height: 80px;
    border: none;
    float: right;
    padding: 20px 10px;
    background-color: #ce4933;
    color: white;
}
